@charset "UTF-8";
@font-face {
  font-family: "TT Lakes";
  src: url(../font/TTLakes/TTLakes-Regular.ttf) format(TrueType);
  font-weight: 400;
}
@font-face {
  font-family: "TT Lakes";
  src: url(../font/TTLakes/TTLakes-Medium.ttf) format(TrueType);
  font-weight: 500;
}
@font-face {
  font-family: "TT Lakes";
  src: url(../font/TTLakes/TTLakes-Bold.ttf) format(TrueType);
  font-weight: bold;
}
html {
  background-color: #fff;
  box-sizing: border-box;
  font-weight: 400;
}

*, *:before, *:after {
  font-weight: inherit;
  font-family: "TT Lakes";
  box-sizing: inherit;
  margin: 0px;
  text-decoration: none;
}

body {
  background-color: #F8F8F8;
  max-width: 1120px;
  margin: 0 auto;
}

header {
  margin-bottom: 24px;
}

.header {
  background-color: #fff;
  width: 100%;
  height: 88px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-block {
  gap: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  content: " ";
  height: 32px;
  width: 2px;
  background-color: #EAEAEA;
  border-radius: 1px;
}

.right-block {
  align-items: center;
  display: flex;
  gap: 20px;
}

.contact-block {
  display: flex;
  align-items: center;
}

.order-menu {
  display: flex;
  gap: 16px;
  align-items: center;
}
.order-menu__item {
  gap: 9px;
  display: flex;
  align-items: center;
}
.order-menu__text {
  color: #000;
  font-weight: 500;
}

.header {
  padding: 0 16px;
}

.header-line {
  width: 100vw;
  border-bottom: 1px solid #D9FFF5;
}

/*----------------  ------------*/
.main-header {
  display: flex;
  justify-content: space-between;
}

.title-block {
  position: relative;
}
.title-block__text {
  font-weight: bold;
}
.title-block__decoration {
  position: absolute;
  left: 0;
}

/*.alignment-block{
    margin:0 16px;
}*/
.limit-block {
  position: relative;
  width: 100%;
}

.slider {
  font-weight: 500;
  display: flex;
  row-gap: 8px;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slider__item {
  background-color: transparent;
  border: 2px solid;
  border-color: transparent;
  padding: 8px 16px;
  color: #7E7E82;
  white-space: nowrap;
}
.slider__item:focus {
  border-radius: 6px;
  border: 2px solid #B8FFEC;
  background: #FFF;
}

.body__order-menu {
  display: none;
}

.text-block {
  font-size: 14px;
}

.expand-button {
  display: flex;
  padding: 0;
  background: none;
  border: none;
  text-align: center;
  margin-top: 16px;
}
.expand-button__text {
  font-size: 16px;
  font-weight: 500;
}

.article-body {
  display: flex;
  flex-direction: row;
}

.article-body__image {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.effect {
  content: " ";
  position: absolute;
  right: 0px;
  width: 24px;
  height: 40px;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0) 100%);
}

/* -------------------- ДЛЯ ТЕЛЕФОНА ---------------*/
@media screen and (max-width: 767px) {
  .contact-block {
    position: absolute;
    top: -100vh;
  }
  .left-block__line {
    display: none;
  }
  .main-header {
    margin: 0 16px 24px 16px;
  }
  .title-block__decoration {
    margin-left: -16px;
  }
  .article-body {
    flex-direction: column;
    gap: 16px;
  }
  .article-body__image {
    width: 100vw;
    margin-left: -16px;
  }
  .mobile-hide {
    display: none;
  }
  .alignment-block {
    padding: 0 16px 24px 16px;
  }
}
/*-------------- ПЛАНШЕТ ----------------*/
@media screen and (min-width: 768px) and (max-width: 1119px) {
  .header {
    padding: 0 24px;
  }
  .contact-block {
    gap: 16px;
  }
  .left-block {
    gap: 20px;
  }
  .right-block {
    gap: 20px;
  }
  .alignment-block {
    margin: 0 24px 32px 24px;
  }
  .main-header {
    margin: 0 24px 32px 24px;
  }
  .title-block__decoration {
    margin-left: -24px;
  }
  .article-body {
    gap: 48px;
  }
  .tablet-hide {
    display: none;
  }
}
/*------------------ десктоп ----------------------*/
@media screen and (min-width: 1120px) {
  .top-header {
    display: none;
  }
  header {
    margin-bottom: 42px;
  }
  .body__order-menu {
    display: flex;
  }
  .alignment-block {
    padding: 0 32px 16px 32px;
  }
  .slider {
    flex-wrap: wrap;
  }
  .main-header {
    margin: 0 32px 32px 32px;
  }
  .title-block__decoration {
    margin-left: -32px;
  }
  .article-body {
    gap: 32px;
  }
  .effect {
    display: none;
  }
}